#nav {
  /* annulation des mafges par défaut de la liste */
	padding: 0; margin: 0;
  /* alignement du texte du menu */
  text-align: center;
}

#nav li {
  display: inline-block;
  list-style: none; /* nécessaire pour IE7 */
}
#nav a {
  padding:1em;
  display: inline-block;
  text-decoration: none;
  color: #454545;
  background-color: gray;
  border-radius: 2em;
  font-size: 1.6em;
}
