.principale{
width:700px;
height:170px;
background-color:lightsalmon;
margin:80px auto;
}

.secondaires{
  display: inline-block;
  width: 180px;
  height: 120px;
  background-color: lightblue;
  margin: 25px;
}

.secondaires:nth-child(2){
  /* position absolue en haut à gauche */
  position: absolute;
  top: 0;
  left: 0;
  /* collé en haut à gauche */
  margin: 0;
}
/* yeah */

p {
  margin: 50px auto;
  text-align: center;
}
