html{
    background: #2A2A2A;
    font: 1.1em sans-serif;
}

/* réglage de la marge interne, externe et taille*/
#barreMenu{
    display: table;
    width: 90%;
    margin: 100px auto;
    padding: 0;
    /* création d'un dégradé linéaire en background (adapté à tous les navigateurs) */
    background: linear-gradient(white, #F71073);
    background: -webkit-linear-gradient(white, #F71073);
    background:    -moz-linear-gradient(white, #F71073);
    background:     -ms-linear-gradient(white, #F71073);
    background:      -o-linear-gradient(white, #F71073);
    background:         linear-gradient(white, #F71073);
    /* ajout de coins arrondis et d'ombres*/
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3),
                0 3px 5px rgba(0, 0, 0, .2),
                0 5px 10px rgba(0, 0, 0, .2),
                0 20px 20px rgba(0, 0, 0, .15);
}
#barreMenu li{
    display: table-cell;
}

/* ajout de style aux liens : centré, couleur, et tels des blocks */
#barreMenu li a{
    display: block;
    text-align: center;
    color: rgba(0, 0, 0, .7);
    text-decoration: none;
    padding: 8px 8px 17px 8px;
    /* effet texte incrusté */
    text-shadow: 0 1px 0 rgba(255, 255, 255, .4);
    /* effet 3d du menu */
    /*MODIF*/
    -moz-box-shadow: inset 0px 1px 0px 0px #F71073;
    -webkit-box-shadow: inset 0px 1px 0px 0px #F71073;
    -o-box-shadow: inset 0px 1px 0px 0px #F71073;
    box-shadow: inset 0px 1px 0px 0px #F71073;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#F71073, Direction=134, Strength=5);
}

/* meilleur effet "coins arrondis" */
#barreMenu li:first-child a{
    border-radius: 3px 0 0 3px;
}
#barreMenu li:last-child a{
    border-radius: 0 3px 3px 0;
}

/* éclairsissement de chaque ombre de 10% à chaque survol de souris */
#barreMenu li a:hover,
#barreMenu li a:focus{
    background: rgba(255,255,255,.2);
    box-shadow: 0 1px 0 rgba(255, 255, 255, .7) inset,
                0 -1px 0 hsl(210, 100%, 42%) inset,
                0 -2px 0 hsl(210, 100%, 48%) inset,
                0 -3px 0 hsl(210, 100%, 54%) inset,
                0 -4px 0 hsl(210, 100%, 60%) inset,
                0 -5px 0 hsl(210, 100%, 70%) inset;
}
