table {
  border-collapse: collapse;
  text-align: center;
  width: 600px;
  background-color: #BFC7C6;
}

td, th {
  border: 1px solid black;
}

.couleur_debit {
  color: #E30312;
}

.couleur_credit {
  color: #03E31A;
}

.libelle {
  font-style: italic;
}

#titre_tab {
  font-family: Arial;
  font-size: 25px;
}

#solde {
  font-weight: bold;
}
